<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>

    <div class="tab-container">
      <div class="tab">
        <button class="tablinks" (click)="openTab($event, 'Junior')">
          Junior
        </button>
        <button class="tablinks" (click)="openTab($event, 'Senior')">
          Senior
        </button>
      </div>

      <div id="Junior" class="tabcontent">
        <app-list [cvs]="cvsJunior | async"></app-list>
      </div>

      <div id="Senior" class="tabcontent">
        <app-list [cvs]="cvsSenior | async"></app-list>
      </div>
    </div>
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv | async"></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>
